<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Ahorcado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo-ahorcado.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
<div class="main-container">
    <h1 class="titulo" id="titulo" >Juego del ahorcado</h1>
    <h1 id="msg-final"></h1>
    <h3 id="acierto"></h3>
    
        <div class="flex-row no-wrap">        
            <picture>
                {% if intentos==0: %}
                <img src = "{{ url_for('static', filename='img/ahorcado_6.png')}}" alt="" id="image6">
                {% endif %}
                {% if intentos==1: %}
                <img src = "{{ url_for('static', filename='img/ahorcado_5.png')}}" alt="" id="image5">
                {% endif %}
                {% if intentos==2: %}
                <img src = "{{ url_for('static', filename='img/ahorcado_4.png')}}" alt="" id="image4">
                {% endif %}
                {% if intentos==3: %}
                <img src = "{{ url_for('static', filename='img/ahorcado_3.png')}}" alt="" id="image3">
                {% endif %}
                {% if intentos==4: %}
                <img src = "{{ url_for('static', filename='img/ahorcado_2.png')}}" alt="" id="image2">
                {% endif %}
                {% if intentos==5: %}
                <img src = "{{ url_for('static', filename='img/ahorcado_1.png')}}" alt="" id="image1">        
                {% endif %}
                {% if intentos==6: %}
                <img src = "{{ url_for('static', filename='img/ahorcado_0.png')}}" alt="" id="image0">
                {% endif %}
            </picture>

            {% if intentos==6: %}
            <h2 class="palabra" id="palabra">La palabra era {{palabra_a_adivinar}}</h2>
            <br>
            <br>
            <br>
            <h3 class="" id="palabra"></h3>
            {%else:%}
            {% if '_' not in palabra_mostrada: %}
            <h2 class="palabra" id="palabra">¡Felicitaciones! La palabra era {{palabra_a_adivinar}}</h2>
            {% else: %}
            <h2 class="palabra" id="palabra">{{ palabra_mostrada }}</h2>
            {% endif %}
            {% endif %}

        </div>
        <div class="flex-row" id="turnos">
            <div class="col">
                <h3 class="intentos">Intentos restantes: <span id="intentos" value="{{session.get('intentos')}}">{{ 6- intentos }}</span></h3>
            </div>

            <form action="/empezar" method="POST">
                <button onclick="index()" id="reset" class="btn btn-danger" style="margin-right:5px;font-family: monospace;">Elegir otra palabra</button>
            </form> 
            {% if session.get('pista')!= '' : %}
            <div  style="width:145px;">
                <h6 id="pista" style="color:white; ">{{pista}}</h6>
            </div>
                {% else: %}
            <form method="POST" action="/pista">
                <button onclick="pista()" id="pista" class="btn btn-info" >Dame una pista!</button>
            </form>
            {% endif %}

        </div>
        <form method="POST" action="jugar">
        <div class="flex-row">
            <div class="col">
                {% if (intentos != 6) and (fin_juego == 0) : %}
                <div class="flex-row" id="abcdario">
                    {% for letra in abecedario: %}
                        {%if letra in session.get('letras_usadas', []): %}
                            <button type="submit" disabled="true" name="letra" value="{{letra}}" class="btn btn-secondary" id="letra">{{ letra }}</button>     
                        {%else%}
                            <button type="submit" name="letra" value="{{letra}}" class="btn btn-light" id="letra">{{ letra }}</button>
                            
                        {%endif%}
                    {% endfor %}
                </div>
            </div>
            {%endif%}
            <div class="col"></div>
        </div>
        <a href="/" id="botonVolver" class="btn btn-warning">Volver al inicio</a>
</div>

</body>
</html>